.title {
  text-align: center;
  padding: 1em;
}

.contenedor {
  background-color: rgba(234, 240, 240, 0.568);
  margin: 0%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0%;
}

.formulario {
  text-align: center;
  padding: 2em;
}

.button {
  text-align: center;
}