.title {
  text-align: center;
  padding: 1em;
}

.contenedor {
  background-color: rgba(229, 223, 230, 0.794);
    text-align: center;
    padding: 2em;
    width: 30em;
    height: 55em;
    margin-left: 70%;
    margin-top: 3%;
}

.formulario {
  text-align: center;
  padding: 2em;
}

.button {
  text-align: center;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  box-shadow: none;
}