body {
  background-image:   url('https://i.imgur.com/qPfTJsO.jpg?1');
  
}

.containerLogin {
  background-color: rgba(229, 223, 230, 0.445);
  text-align: center;
  padding: 3em;
  width: 30em;
  height: 39em;
  margin-left: 70%;
  margin-top: 4%;
}