.containerBackground {
  background-image: url('https://i.imgur.com/qPfTJsO.jpg?1');
  padding-top: 5%;
  padding-bottom: 9%;
}

.containerLogin {
  background-color: rgba(229, 223, 230, 0.794);
  text-align: center;
  padding: 3em;
  width: 30em;
  height: 39em;
  margin-left: 70%;
  margin-top: 5%;
}
.registrationLink{
  color: gray !important;
  margin-top: 20px;
  font-weight: 700;
  font-size: 15px;
}
.buttonStyle{
  border-radius: 5px;
  border: none;
  font-weight: 700;
  box-shadow: none;
}
